<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<section>
  <h1>Edit the Streaming Services! </h1>
  <form action="/services/<%= service._id %>?_method=PUT" method="POST">
    <label>
      Name:
      <input 
        type="text" 
        name="name" 
        value="<%= service.name %>"
        autocomplete="off"
      >
    </label>

    <button type="submit">Edit the service</button>
  </form>
</section>

<%- include("../partials/footer") %> 
