<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/services/index.css">
<%- include("../partials/nav") %>

<section>
   <h1>services!</h1>
 
  <h2>All the services!</h2>
  <ul id="streaming-services">
    <% services.forEach(service => { %>
      <li id="each-streaming">
        
        <a href="/services/<%= service._id %>"><img src="<%= service.link %>" alt"" width="150px height="150px"></a>
       
      </li>
    <% }) %> 
    <% if (user) { %>
      <a href="services/new">Add a new sevice</a>
    <% } %> 
  </ul>
</section>

<%- include("../partials/footer") %> 