<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/services/index.css">
<%- include("../partials/nav") %>

<section>
 
 
  <h2 id="all-services" >All Streaming Services</h2>
  <ul id="streaming-services">
    <% services.forEach(service => { %>
      <li>
        
        <a class="Streaming" href="/services/<%= service._id %>"><img src="<%= service.link %>" alt"" width="250px" height="250px"></a>
       
      </li>
    <% }) %> 
 
  </ul>
</section>

<%- include("../partials/footer") %> 