<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/services/show.css">
<%- include("../partials/nav") %>

<section>
  <h1><%= service.name %></h1>
  <img src="<%= service.link %>" alt"" width="200px height="200px">
  <p><%= service.Description %></p>
  <h3> subscription:</h3>
  <p><%= service.sub %></p>
  <h3> Popular movies:</h3>
  <img class="movies-tvs" src="<%= service.movie1 %>" alt"" width="100px" height="135px">
  <img class="movies-tvs" src="<%= service.movie2 %>" alt"" width="100px" height="135px">
  <img class="movies-tvs" src="<%= service.movie3 %>" alt"" width="100px" height="135px">
  <img class="movies-tvs" src="<%= service.movie4 %>" alt"" width="100px" height="135px">
  <img class="movies-tvs" src="<%= service.movie5 %>" alt"" width="100px" height="135px">
  <h3> Popular Tv:</h3>
  <img class="movies-tvs" src="<%= service.Tv1 %>" alt"" width="100px" height="135px">
  <img class="movies-tvs" src="<%= service.Tv2 %>" alt"" width="100px" height="135px">
  <img class="movies-tvs" src="<%= service.Tv3 %>" alt"" width="100px" height="135px">
  <img class="movies-tvs" src="<%= service.Tv4 %>" alt"" width="100px" height="135px">
  <img class="movies-tvs" src="<%= service.Tv5 %>" alt"" width="100px" height="135px">
  <!-- <% if (service.owner.equals(user?.profile._id)) { %>
    <form action="/services/<%= service._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this service </button>
    </form>
    <form action="/services/<%= service._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this service </button>
    </form>
  <% } %>
</section> -->
<% if (user) {%>
<h2>Reviews</h2>
<form 
  id="add-review-form"
  action="/services/<%= service._id %>/reviews"
  method="POST"
> 
  <label for="content-textarea">Review:</label>
  <textarea name="content" id="content-textarea"></textarea>
  <label for="rating-select">Rating:</label>
  <select name="rating" id="rating-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <button type="submit">Add Review</button>
</form>
<% } %>
<% if (service.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% service.reviews.forEach(function(review) { %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No Reviews Yet</h3>
<% } %>

<%- include("../partials/footer") %> 