<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/services/show.css">
<%- include("../partials/nav") %>

<section>
  <img id="background"  src=<%= service.link %>" alt"">

  <div id="details-container">
    <br>
  <p><%= service.Description %></p>
  <h3> subscription:</h3>
  <p><%= service.sub %></p>
 </div>

 <h3 > Popular movies:</h3>

  <% if (user) {%>
 
    <div class="movie-wraper">
    <% if (service.movies.length) { %>
          <% service.movies.forEach(function(movie) { %>
            <div id="movie">
            <img class="movies-list" src="<%= movie.link %> " alt="" width="150px" height="230px">
            <div class="movie-title"><%= movie.name %> - 
               <%= movie.year %></div>
              </div>
            
          <% }) %>
        
    <% } else { %>
      <h3>No movies Yet</h3>
    <% } %>
  </div>
  <h3>Add New Movie:</h3>
    <form 
      id="add-movie-form"
      action="/services/<%= service._id %>/movies"
      method="POST"
    > 
      <label for="content-textarea">Name of the Movie:</label>
      <textarea name="name" id="content-textarea"></textarea>
      <label for="content-textarea">Year:</label>
      <textarea name="year" id="content-textarea"></textarea>
      <label for="content-textarea">Photo Link</label>
      <textarea name="link" id="content-textarea"></textarea>
      <button id="btn" type="submit">Add Movie</button>
    </form>
    <% } %>
  </div>

  <h3> Popular shows:</h3>

  <% if (user) {%>
    
    <div class="movie-wraper">
    <% if (service.shows.length) { %>
      <div id="movie">
          <% service.shows.forEach(function(show) { %>
            <img class="movies-list" src="<%= show.link %> " alt=""  width="150px" height="230px">
            <div class="movie-title"><%= show.name  %> - 
              <%= show.year  %> </div>
          </div>
          <% }) %>
   
    <% } else { %>
      <h3>No shows Yet</h3>
    <% } %>
  </div>
  <h3>Add New show:</h3>
    <form 
      id="add-show-form"
      action="/services/<%= service._id %>/shows"
      method="POST"
    > 
      <label for="content-textarea">Name of the show:</label>
      <textarea name="name" id="content-textarea"></textarea>
      <label for="content-textarea">Year:</label>
      <textarea name="year" id="content-textarea"></textarea>
      <label for="content-textarea">Photo Link</label>
      <textarea name="link" id="content-textarea"></textarea>
      <button id="btn" type="submit">Add show</button>
    </form>
    <% } %>
  </div>
  
  <div id="reviews-form">
    <h3>reviews</h3>
    <% if (service.reviews.length) { %>
 
      
          <% service.reviews.forEach(function(review) { %>
            <div id="review">
              <div id="rating">Rating:<%= review.rating %></div>
              <div><%= review.content %></div>
              <div id="date" ><%= review.createdAt.toLocaleDateString() %></div>

            </div>
            <% }) %>

        <% } else { %>
          <h3>No Reviews Yet</h3>
          <% } %>
          <% if (user) {%>
            <h3>Add Review</h3>
            <form 
            id="add-review-form"
            action="/services/<%= service._id %>/reviews"
            method="POST"
            > 
            <label for="content-textarea">Add Review:</label>
            <textarea name="content" id="content-textarea"></textarea>
            <label for="rating-select">Rating:</label>
            <select name="rating" id="rating-select">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
            </select>
            <button id="btn" type="submit">Add Review</button>
          </form>
          <% } %>
        </div>


  <% if (service.owner.equals(user?.profile._id)) { %>
    <form action="/services/<%= service._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this service </button>
    </form>
    <form action="/services/<%= service._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this service </button>
    </form>
  <% } %>

      </section>
        <%- include("../partials/footer") %> 
        