<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/services/show.css">
<%- include("../partials/nav") %>

<section>
  <p>This Streaming Service added by <%= service.owner.name %></p>
  <h1><%= service.name %></h1>
  <img src="https://i.imgur.com/mwmqEhA.png" alt"" width="200px height="200px">
  <a
  " %> </h2>
  <% if (user) {%>

      <button class="btn" type="submit">
       %> 
      </button>
    </form>
  <% } %>
  <% if (service.owner.equals(user?.profile._id)) { %>
    <form action="/services/<%= service._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this service </button>
    </form>
    <form action="/services/<%= service._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this service </button>
    </form>
  <% } %>
</section>

<h2>Reviews</h2>
<form 
  id="add-review-form"
  action="/services/<%= service._id %>/reviews"
  method="POST"
> 
  <label for="content-textarea">Review:</label>
  <textarea name="content" id="content-textarea"></textarea>
  <label for="rating-select">Rating:</label>
  <select name="rating" id="rating-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <button type="submit">Add Review</button>
</form>
<% if (service.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% service.reviews.forEach(function(review) { %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No Reviews Yet</h3>
<% } %>
<%- include("../partials/footer") %> 